.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
    border-bottom: 1px solid;
}

.main ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    cursor: pointer;
}


.select{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.select button{
    width: 5.5vw;
    height: 4.5vh;
    background-color: #0b004e;
    color: white;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 15px;
}

.select button:hover{
    background-color: white;
    color: #0b004e;
    transition: 0.3s;
}

.select select{
    width: 55px;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

@media screen and (max-width: 450px) {
    .main ul li{
        display: none;
    }
    h1{
        font-size: 20px;
    }
    .select select{
        width: 45px;
        font-size: 12px;
    }
    .select button{
        font-size: 15px;
        width: 65px;
    }
}